// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$header-height: 60px;
$sidebar-width: 220px;
$default_transition_sec: 0.3s;
